*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
	font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
	background: linear-gradient(#72fbfd, #5382b0);
}

:root {
    --datanumber: #00bfff;
    --datatype: #add8e6;
    --operand: #0abab5;
    --output: #003366;
}
.calc-grid {
    display: grid;
    justify-content: center;
    margin-top: 5%;
    align-content: center;
	min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}

.calc-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid #000;
    transition: 0.3s all;
}
.calc-grid > button:active {
    transform: scale(0.9);
    box-shadow: 0 0 15px #000;
}


.calc-grid > button:hover {
	background-color: rgba(255,255,255,.9);
}

.span-two {
	grid-column: span 2;
    background-color: var(--datanumber);
    color: #fff;
    text-shadow: 0 0 3px var(--output);
    
}

.output {
	grid-column: 1 / -1;
	background-color: var(--output);
    color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand {
	color: #fff;
	font-size:1.5rem;
}

.output .current-operand {
	color: white;
	font-size: 2.5rem;
}

/* COLORS for BUTTONS */

.operator-color {
    background-color: var(--operand);
}
.data-color {
    background-color: var(--datatype);
}
.number-color {
    background-color: var(--datanumber);
    color: #fff;
    text-shadow: 0 0 4px var(--output);
}